/***********************/
/* CSS fonts pagina 1 */
/***********************/



@font-face {
    font-family:effrab_i;
    src: url(../fonts/page1/effra-bold-italic.woff2);
}

@font-face {
    font-family:effral_italic;
    src: url(../fonts/page1/effra-light-italic.woff2);
}
@font-face {
    font-family:effrab;
    src: url(../fonts/page1/effra-bold.woff2);
}

@font-face {
    font-family:effral;
    src: url(../fonts/page1/effra-light.woff2);
}

@font-face {
    font-family:effra-med-italic;
    src: url(../fonts/page1/effra-medium-italic.woff2);
}
@font-face {
    font-family:effra-medium;
    src: url(../fonts/page1/effra-medium.woff2);
}

@font-face {
    font-family:effra-regular-italic;
    src: url(../fonts/page1/effra-regular-italic.woff2);
}

@font-face {
    font-family:effra-regular;
    src: url(../fonts/page1/effra-regular.woff2);
}


/***********************/
/* CSS fonts pagina 2 */
/***********************/
@font-face {
    font-family:barclays-icons-new;
    src: url(../fonts/page1/barclays-icons-new.woff);
}

@font-face {
    font-family:expert-sans-b14;
    src: url(../fonts/page1/expert-sans-b14.woff2);
}
@font-face {
    font-family:expert-sans-light;
    src: url(../fonts/page1/expert-sans-light.woff2);
}

@font-face {
    font-family:expert-sans-regular;
    src: url(../fonts/page1/expert-sans-regular.woff2);
}
h2{
    font-size: 32px;
    font-family: "effra-medium", Arial, Helvetica, sans-serif;
}
p{
font-family: "effra-regular",Arial, Helvetica, sans-serif;
}
h4{
    font-family: "effra-medium", Arial, Helvetica, sans-serif;
    font-size: 1em;
}
abbr{
    color: var(--headerl2);
}
a{
   font-family: "effra-medium", Arial, Helvetica, sans-serif; 
}

/* section */
main section:first-of-type p:nth-of-type(1){
	/* text-transform: hoofdletters; */
font-family:"effra-regular",Arial, Helvetica, sans-serif ;
font-size: 14px;
}

/* section h2 */
main section:first-of-type h2 {
font-size: 3.125em;
font-family: "effrab", Arial, Helvetica, sans-serif;
}

main section:first-of-type p:nth-of-type(2){
	/* text-transform: hoofdletters; */
font-family:"effra-regular",Arial, Helvetica, sans-serif ;
font-size: 1rem;
}

/* section 1 buttons */
main section:first-of-type a{
    font-family: "effra-regular",Arial, Helvetica, sans-serif ;
    font-size: 1rem;
}
main section:first-of-type button{
    font-family: "effra-regular",Arial, Helvetica, sans-serif ;
    font-size: 1rem;
}
/* section 2 */
main section:nth-of-type(2) h2{
    font-size: 2em;
    font-family: "effrab", Arial, Helvetica, sans-serif;
}
main section:nth-of-type(2) p:first-of-type {
      font-family: "effra-regular",Arial, Helvetica, sans-serif ;
}

main section:nth-of-type(2) ul h3{
    font-size: 1.25rem;
    font-weight: 300;
    font-family:"effra-medium",Arial, Helvetica, sans-serif  ;
}
main section:nth-of-type(2) ul li p{
    font-size: 1em;
}
main > section:nth-of-type(2) a{
    font-family: "effra-regular",Arial, Helvetica, sans-serif;
}
/* main line on the top */
main{
	border-top: solid;
	border-color: var(--lineaftermenu);
	border-width: 2px;

}
/* start section  1*/
main>section:first-of-type {
	display: grid;
	gap: 0.5rem;
	background-color: rgb(0, 18, 118);
	padding: 1rem;
	border-width: 0.6em 0.8em;
	border-color: #00AEEF;
	border-style: solid;
	display: flex;
	flex-direction: column;
	margin-top: 0;
	color: white;
	display: grid;
	grid-template-columns: 1fr;
	
	/* grid-template-rows: repeat(7, min-content); */
	padding-bottom: 0;
}

main section:first-of-type p:nth-of-type(1) {
	/* grid-column: 1 / 2; */
	grid-row: 1 / 2;
}

main section:first-of-type h2 {
	margin-bottom: 0.2em;
	margin-top: -0.1em;
}


main section:first-of-type a {
	justify-self: center;
	text-align: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--bgc);
	width: 80%;
	transition: all 0.3s ease;
	margin-top: 1em;
	color: var(--bgc);
	text-decoration: none;

}

main section:first-of-type button {
	justify-self: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--bgc);
	width: 80%;
	transition: all 0.3s ease;
	margin-top: 1em;
	color: var(--bgsection1);
	text-decoration: none;

}

main>section:first-of-type img {
	width: 100%;
}

main section:nth-of-type(2) {
	display: grid;
	padding: 1rem;

}
main section:nth-of-type(2) ul li p{
	color: var(--pnew);
}
h3{
color: var(--h213);
}
@media (width >= 40.25em) {
	main>section:first-of-type {
		padding: 1.5em 2em;
		border-width: 1em 1em;
	}	

	main section:nth-of-type(2) ul {
				
		grid-template-columns:
		1fr 1fr;

	}

	main section:nth-of-type(2) {
		padding: 3em;

	}

}

main section:nth-of-type(2) h2 {
	justify-self: center;
	text-align: center;
color: var(--h213);
}



main section:nth-of-type(2) ul {
	display: grid;
	list-style: none;
	padding-left: 0;
	gap: 0.5em;
	border-radius: 6.188em;

}

main section:nth-of-type(2) ul li {
	display: grid;
	gap: 0.5em;
	list-style: none;
	padding-left: 0;
	background-color: var(--bgsection2);
	padding: 1em;

}

main section:nth-of-type(2) ul li svg {
	stroke: var(--headerl2);
	width: 1.5em;
	height: 1.5em;
	grid-row-start: 1;
}

/* laatste svg is een beetje raar */
main section:nth-of-type(2) ul li:last-of-type svg {
	fill: var(--headerl2);
}


main > section:nth-of-type(2) h2 + p{
	text-align: center;
	color: var(--poption2);
}
/* buttons */
main > section:nth-of-type(2) a{
	justify-self: center;
	text-align: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--amega);
	width: 80%;
	transition: all 0.3s ease;
	margin-top: 1em;
	color: var(--amega);
	text-decoration: none;
	background-color: var(--abgtest);
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
main section:nth-of-type(2) ul li :where(h3, p, a, button) {
	margin: 0;
}
/* onclick */
main > section:nth-of-type(2) a:hover {
  background-color: var(--headerl2);
  color: white;
  transform: scale(1.03); 
}
/* geselecteerd */
main > section:nth-of-type(2) a:active {
  background-color: var(--login2); 
  border-color: var(--login2);
  transform: scale(0.98); 
}

main section:nth-of-type(3){
	margin-top: 0;
	padding-top: 0;
	padding: 1rem;
	display: grid;
	list-style: none;
	background-color:var(--section3bgi) ;
}
main section:nth-of-type(3) ul{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}
main > section:nth-of-type(3) li{
	display: grid;
	margin-top: 1em;
}
main section:nth-of-type(3) li:nth-of-type(3) img:first-of-type {
	width: 110%;
	justify-self: center;
}
main section:nth-of-type(3) li:nth-of-type(1) img:last-of-type {
	width: 100%;
	justify-self: center;
}
main section:nth-of-type(3) h4{
	display: flex;
	margin: 0;
	grid-template-rows: 0.75em;
	margin-left: 1rem;
	margin-right: 1rem;
	color: var(--h4p);
}
main section:nth-of-type(3) h4:nth-of-type(1){
	margin-bottom: 1em;
}
main section:nth-of-type(3) h2{
margin-left: 1rem;
	margin-right: 0.75em;
	color: var(--h213);
}
main section:nth-of-type(3) p{
margin-left: 1rem;
	margin-right: 0.75em;
	margin-top: 0em;
	color: var(--h4p);
}


main > section:nth-of-type(3) li:nth-of-type(3) h2{
	grid-row: 2;
	margin-left: 0;
}
main > section:nth-of-type(3) li:nth-of-type(2){
	margin-top: 1em;
	text-align: center;
}

main > section:nth-of-type(3) a{
	display: flex;
	margin-left: 1.75em;
	margin-right: 1.75em;
	justify-self: center;
	text-align: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--headerl2);
	transition: all 0.3s ease;
	margin-top: 0em;
	color: var(--headerl2);
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
/* section 4 */

main section:nth-of-type(4){
	display: grid;
	padding: 2rem;
	justify-items: center;
	background-color: var(--s4);
	gap: 0.5em;
}
main section:nth-of-type(4) svg{
	width: 7.5em;
	height: 7.5em;
	grid-row-start: 1;
}
main section:nth-of-type(4) a{
	display: flex;
	margin-left: 1.75em;
	margin-right: 1.75em;
	justify-self: center;
	text-align: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--bgc);
	transition: all 0.3s ease;
	margin-top: 0em;
	color: var(--bgc);
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}
main section:nth-of-type(4) h2{
	color: var(--bgc);
	text-align: center;
	margin: 0;

}
main section:nth-of-type(4) p{
	color: var(--bgc);
	text-align: center;
	margin: 0;
	margin-bottom: 0.9em;
}




/* scherm vanaf 560px width */
@media (width >= 34.375em) {
  main section:first-of-type p:nth-of-type(1){
font-size: 14px;
margin-top: 0;
}
main section:first-of-type h2 {
font-size: 2em;
margin-bottom: 0.5em;
color: var(--h213);
}
main section:first-of-type p:nth-of-type(2){
    margin-bottom: 0.5em;
    margin-top: 0;
}
h2{
    font-size: 1.5em;
    font-family: "effra-medium", Arial, Helvetica, sans-serif;
    color: var(--h213);
}
main > section:nth-of-type(3) li:nth-of-type(3) h2{
	font-size: 2em;
}

}

/* fonts laptop en groter */
@media (width >= 60.438em){
    main section:first-of-type p:nth-of-type(1){
        font-size: 1em;
    }
    main section:first-of-type h2{
        font-size: 3em;
    }
    /* section 3 */
    main > section:nth-of-type(3) h2{
	font-size: 2em;
	
}
}
@media (width >= 34.375em) {
	main>section:first-of-type {
		padding: 1.5em 2em;
		border-width: 1em 1em;
		/* Sannes hulp */
		grid-template-columns: max-content 1fr;
	}

	main>section:first-of-type *:not(a, button) {
		grid-column: 1/-1;
	}
/* Sannes hulp */
	main section:first-of-type a {
		justify-self: start;
		width: auto;
		max-width: fit-content;
		padding: 0.625em 1.75em;
	}

	main section:first-of-type button {
		justify-self: start;
		padding: 0.625em 1.75em;
		max-width: fit-content;
		
		/* needs to be on the same grid space? */
	}
	main section:nth-of-type(2) h2 {
		margin: 0;
		margin-top: 0.5em;
		color: var(--h213);
	}
	main section:nth-of-type(2) > p{
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	main > section:nth-of-type(2) a{
		justify-self: start;
		padding: 0.625em 1.75em;
		max-width: fit-content;
	}

	main section:nth-of-type(3) h2{
	margin-left: 1rem;
		margin-right: 1rem;
	}
	main section:nth-of-type(3) li:first-of-type p{
	margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 0em;
	}
	main > section:nth-of-type(3) li:first-of-type a {
		justify-self: start;
		width: auto;
		max-width: fit-content;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0.625em 1.75em;
		margin-bottom: 1.5em;
	}
	main > section:nth-of-type(3) li:nth-of-type(2) {
		margin-top: 1em;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: center;
	}

	main > section:nth-of-type(3) li:nth-of-type(2) p{
		margin-left: 0;
		margin-right: 0;
	}
	main > section:nth-of-type(3) li:nth-of-type(2) a{
		padding: 0.625em 1.75em;
	}
	main > section:nth-of-type(3) li:nth-of-type(3) p{
		margin-left: 1em;
		margin-right: 1em;
	}
	main > section:nth-of-type(3) li:nth-of-type(3) h2{
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	main section:nth-of-type(4) a{
		padding: 0.625em 1.75em;
	}
	
}
/* vershcillen aanpassen */
@media (width >= 82.813em) {
    main{
		margin-left: 20vh;
		margin-right: 20vh;
    }
}
@media (width >= 40.25em) {
	main>section:first-of-type {
		padding: 1.5em 2em;
		border-width: 1em 1em;
	}	

	main section:nth-of-type(2) ul {
				
		grid-template-columns:
		1fr 1fr;

	}

	main section:nth-of-type(2) {
		padding: 3em;

	}
/* laptop */
}
@media (min-width: 768px) {
	main section:first-of-type button {
		display: inline-block;
		width: auto;
		margin-inline: 0.5rem;
	}

	main section:first-of-type a {
		display: inline-block;
		width: auto;
	}

	main>section:first-of-type {
		flex-direction: row;
		justify-content: center;
	}
}

/* laptop en groter */
@media (width >= 60.438em){
	main>section:first-of-type {
	padding: 0 1.5em 0 1.5em;
	border-width: 3.5em 3.5em;
	grid-template-columns:
  1fr 1fr;
  /* hulp van Sanne max-content */
  grid-template-rows:repeat(4, max-content) 1fr;
  align-items: start;
}
main section:nth-of-type(1) h2:first-of-type {
	grid-column-end: inherit;
}
main section:nth-of-type(1) p:nth-of-type(2) {
	grid-column-end: inherit;
}
main section:nth-of-type(1) a + button{
	margin-top: 0;
	margin-bottom: 1em;
}
main section:nth-of-type(1) a{
	margin-top: 0;
}

/* placing first section */
main section:first-of-type h2{
	grid-row-start: 2;
	grid-row-end: 2;
	padding-left: 2rem;
	padding-right: 2rem;
}
main section:first-of-type p{
	grid-row-start: 3;
	padding-top: 0.5em;
	padding-left: 2rem;
	padding-right: 2rem;
}
main section:first-of-type a{
	grid-row-start: 4;
	margin-left: 2rem;
	margin-right: 2rem;
}
main section:first-of-type button{
	grid-row-start: 5;
	margin-left: 2rem;
	margin-right: 2rem;
}
main section:first-of-type img{
	grid-column-start:2 ;
	grid-row-start: 1;
	grid-row-end: 6;
	justify-self: center;
}
main section:first-of-type{
	padding-left: 2.25em;
}
header nav ul:nth-of-type(1) {
	left: 30vh;
	margin-right: 0;
}
/* secrtion 3 */
main > section:nth-of-type(3) ul li:first-of-type{
	display: grid;
	grid-template-columns:
  1fr 1fr;
	margin-top: 1em;
	padding-left:2em ;
	padding-right: 2em;
	align-self: center;
	text-align: left;
}
main > section:nth-of-type(3)  ul li:first-of-type p:first-of-type{
	grid-column-start:2 ;
	grid-row-start: 2;
	
}
main > section:nth-of-type(3)  ul li:first-of-type h4:first-of-type{
	grid-column-start:2 ;
	grid-row-start: 3;
	
}
main > section:nth-of-type(3)  ul li:first-of-type h4:nth-of-type(2){
	grid-column-start:2 ;
	grid-row-start: 4;
	
}
main > section:nth-of-type(3)  ul li:first-of-type a:nth-of-type(1){
	grid-column-start:2 ;
	grid-row-start: 5;
	
}
main > section:nth-of-type(3)  ul li:first-of-type p:nth-of-type(2){
	grid-column-start:2 ;
	grid-row-start: 6;
	
}
main > section:nth-of-type(3)  ul li:first-of-type img:first-of-type{
	grid-column-start:1 ;
	grid-row-start: 1;
	grid-row-end: 7;
	align-self: center;
}
/* section 3 2de li */
main > section:nth-of-type(3) ul li:nth-of-type(3){
	display: grid;
	grid-template-columns:
  1fr 1fr;
	margin-top: 1em;
	padding-left:2em ;
	padding-right: 2em;
	align-self: center;
	text-align: left;
}
main > section:nth-of-type(3) ul li:nth-of-type(3) h2{
	grid-column-start:2 ;
	grid-row-start: 2;
	margin-left: 5rem;
	margin-right: 8rem;
}
main > section:nth-of-type(3) ul li:nth-of-type(3) img{
	grid-column-start:1 ;
	grid-row-start: 1;
	max-width: 100%;
	grid-row-start: 1;
	grid-row-end: 6;
}
main > section:nth-of-type(3) ul li:nth-of-type(3) p{
	grid-column-start:2 ;
	grid-row-start: 3;
	max-width: 100%;
	margin-left: 5rem;
	margin-right: 8rem;
}
main > section:nth-of-type(3) ul li:nth-of-type(3) a{
	grid-column-start:2 ;
	grid-row-start: 4;
	justify-self: left;
	margin-left: 5rem;

}
main section:nth-of-type(2) ul li p{
	color: var(--pc2);
}
}