/**************/
/* CSS REMEDY */
/**************/


/* colors */
:root {
	--bgc: #ffffff;
	--bodycolor:white;
	/* menu colors */
	/* spans */
	--linkspans: #006de3;
	--linkspansactive: red;
	--lineaftermenu:#ccc;
	/* menu 2 */
--backgrli:white;
--menu2bg1:white;
--menu2a1:black;

--h213:#272727;
	--headerl1: #272727;
	--headerl2: #006de3;

	/* login button */
	--login: #006de3;
	--login2: #005bbe;
	--bgsection1: rgb(0, 18, 118);
	--bgsection2: #f6f6f6;

	--pc2: #515151;
	--pnew:#515151;
	--amega:white;
	--abgtest:white;
	/* links */
	--ainside:white;

	--s4:#1a2142;
	--footerspan:#E2E2E2;
	--footerbg:white;
	--footerheader:#272727;
	--footerbutton:#3696fc;
	--footerp:#515151;
	--footera:#272727;

	--header2:white;
	--navbg:white;
	--logincolor2:white;
	--personalopen:white;
	--poption2:#515151;
	--section3bgi:white;
	--h4p:black;
	--poster:white;

	
}
/* dark mode */
@media (prefers-color-scheme: dark) {
	:root{

/* menu */
--navbg:#161b2f;
--header2:#161b2f;
--logincolor2:#161b2f;
--personalopen:#161b2f;
--menu2bg1:#292b3d;
--menu2a1:white;
--poster:#161b2f;

/* maion */
--pnew:#cbccd1;
--ainside:#001276;
--amega:#00aeef;
--abgtest:#001276 ;
		/* footer */
--footerbg:#292b3d;
--bodycolor:#292b3d;
--footerheader:white;
--footerp:#cbccd1;
--footera:white;
--h213:white;
--bgsection2:#292b3d;
--poption2:#cbccd1;
--section3bgi:#161b2f;
--h4p:white;



	}
}
/***********************/
/* CSS fonts           */
/***********************/
@font-face {
    font-family:effrab_i;
    src: url(../fonts/page1/effra-bold-italic.woff2);
}

@font-face {
    font-family:effral_italic;
    src: url(../fonts/page1/effra-light-italic.woff2);
}
@font-face {
    font-family:effrab;
    src: url(../fonts/page1/effra-bold.woff2);
}

@font-face {
    font-family:effral;
    src: url(../fonts/page1/effra-light.woff2);
}

@font-face {
    font-family:effra-med-italic;
    src: url(../fonts/page1/effra-medium-italic.woff2);
}
@font-face {
    font-family:effra-medium;
    src: url(../fonts/page1/effra-medium.woff2);
}

@font-face {
    font-family:effra-regular-italic;
    src: url(../fonts/page1/effra-regular-italic.woff2);
}

@font-face {
    font-family:effra-regular;
    src: url(../fonts/page1/effra-regular.woff2);
}

@font-face {
    font-family:barclays-icons-new;
    src: url(../fonts/page1/barclays-icons-new.woff);
}

@font-face {
    font-family:expert-sans-b14;
    src: url(../fonts/page1/expert-sans-b14.woff2);
}
@font-face {
    font-family:expert-sans-light;
    src: url(../fonts/page1/expert-sans-light.woff2);
}

@font-face {
    font-family:expert-sans-regular;
    src: url(../fonts/page1/expert-sans-regular.woff2);
}

body{
	background-color:var(--bodycolor) ;
}
h2{
    font-size: 32px;
    font-family: "effra-medium", Arial, Helvetica, sans-serif;
}
p{
font-family: "effra-regular",Arial, Helvetica, sans-serif;
}
h4{
    font-family: "effra-medium", Arial, Helvetica, sans-serif;
    font-size: 1em;
}
abbr{
    color: var(--headerl2);
}
a{
   font-family: "effra-medium", Arial, Helvetica, sans-serif; 
}
header nav ul:nth-of-type(1) a{
    color: var(--headerl2);
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-family:"effra-medium", Arial, sans-serif ;
}

header nav button:first-of-type {
    font-family:"effra-effrab_i", Arial, sans-serif ;
     font-weight: 400;
    font-size: 16px;
}
header nav > ul:last-of-type li:last-child a{
    color: var(--bgc);
    font-family:"effrab",Arial, Helvetica, sans-serif ;
}


/****.    Left curly bracket {: ⌥ Option + Shift + 8
Right curly bracket }: ⌥ Option + Shift + 9.     ****/

*,
*::after,
*::before {
	box-sizing: border-box;
}


h5{
    font-size: 16px;
    color: var(--footera);
margin: 0;
margin-bottom: 0.7em;
font-family: "effrab", Arial, Helvetica, sans-serif;
font-size: 18px;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/***body***/
body {
	margin: 0;
	margin-right: 0;
}
abbr :active{
   fill: white;
	transition: 0.4s;
}
abbr :hover{
color: black;
  transform: scale(1.03); 
}

header {
	background-color: var(--header2);
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

header nav {
	padding-left: 0;
	padding-right: 0;
	display: grid;
	grid-template-columns: 2.5em 1fr auto auto auto;
	grid-template-rows: 50px 32px;
	align-items: center;
	column-gap: 0.5em;
	row-gap: 1.5em;
	padding-inline: 1rem;
	background-color: var(--navbg);
}
/* buttons & a links */
a:active{
 background-color: var(--login2); 
  border-color: var(--login2);
  transform: scale(0.98); 
}
a:hover{
	transform: scale(1.05); 
}


button:active{
	 background-color: var(--login2); 
  border-color: var(--login2);
  transform: scale(0.98); 
}
/* logo svg */
button:hover{
	transform: scale(1.05); 
}
.st0 {
	fill: #00AEEF;
	/* width: 1.875rem - 30x30px */
	width: 1.875rem;
	height: 1.875rem;
	justify-self: center;
	padding-top: 1px;
}

header nav>a:first-of-type {
	grid-column: 1;
	grid-row: 1;
	align-self: center;
	justify-self: start;
}

nav a svg {
	align-self: center;
	justify-self: left;
	padding-right: 0;
	width: 1.875em;
}

/* eerste button */
header nav button:first-of-type {
	background-color: white;
	color: var(--headerl2);
	border: 1px solid #ccc;
	border-radius: 3.5rem;
	padding: 0.4em 2em;
	box-shadow: 0 0 0.1em lightgray;
	display: flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	justify-self: start;
	align-self: center;
}


header nav button:nth-of-type(1) svg {
	width: 1em;
	height: 1em;
	transition: transform 0.3s ease;

}
@media (width >= 82.813em){
header nav ul:nth-of-type(1) {
	left: 30vh;
	margin-right: 0;
}
}
/* eerste button styling */
header nav ul:nth-of-type(1) {
	position: absolute;
	top: 4em;
	left: 5em;
	background: var(--personalopen);
	border-radius: 10px 10px 10px 10px;
	list-style: none;
	margin: 0;
	padding: 1em;
	-webkit-box-shadow: -3px 6px 15px 6px rgba(255,255,255,0.26); 
box-shadow: -3px 6px 15px 6px rgba(255,255,255,0.26);
	width: max-content;
	z-index: 10;
}


header nav ul:nth-of-type(1) li {
	margin: 0.5em 0;
	padding-bottom: 1em;
}



header nav ul:nth-of-type(1) a:hover {
	color: var(--login);
}

/* menu menu */
header nav>button:nth-of-type(3) {
	grid-column: 5;
	grid-row: 1;
	justify-self: end;
}

/* 2de rij plaatsing */
/* Make the 2nd-row list span full width and behave as a row */
header nav>ul:last-of-type {
	grid-column: 3 / 6;
	grid-row: 2;
	display: flex;
	align-items: center;
	gap: 1.25rem;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}

header nav>ul:last-of-type li:last-child {
	margin-left: auto;
	/* 👈 pushes Log in to the right edge */
}

/* Size & vertically align icons */
header nav>ul:last-of-type li {
	display: inline-flex;
	align-items: center;
}

header nav>ul:last-of-type svg {
	width: 26px;
	height: 26px;
	display: block;
	flex-shrink: 0;
}

header nav>ul:last-of-type svg * {
	stroke: var(--headerl2) !important;
	fill: none;
	stroke-width: 2;
}

/* hover */
header nav>ul:last-of-type a:hover svg * {
	stroke: var(--login) !important;
}

/* hiding the spans */
header nav>ul:last-of-type li span {
		position:absolute;
		left:-9999em;
	}
/* reappering the spans in de juiste lengte */
	
@media (width > 45.5em) {
header nav>ul:last-of-type li span  {
			position:static;
			text-decoration: none;
		}
		header nav>ul:last-of-type li a{
color: var(--linkspans);
text-decoration: none;
		}
		header nav>ul:last-of-type li a:active{
			color: var(--linkspansactive);
		}
		header nav>ul:last-of-type li a{
			display: inline-flex;
			row-gap: 2em;
			justify-content: center;
			align-items: center;
		}
	}
/* Log in */
header nav>ul:last-of-type li:last-child a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: .5em 1.1em;
	background: var(--login);
	color: var(--logincolor2);
	border-radius: 6.188em;
	font-weight: 700;
	text-decoration: none;
	line-height: 1;
}

header nav>ul:last-of-type li:last-child a:hover {
	background: var(--login);
}


/* 2de ul */
nav ul li {
	list-style: none;
}

nav ul {
	padding-left: 0;
}



nav a {
	display: grid;
}


/* logo */
nav button:nth-of-type(2) svg {
	fill: black;
}

/* button animatie is gelukt pas de kleuren aan en onclick css versie */
nav button:nth-of-type(2) svg:active {
	fill: white;
	transition: 0.4s;
}
/* nav */

nav button:nth-of-type(2) {
	grid-column: 5 / 6;
	background-color: none;
	text-decoration: none;
	cursor: pointer;
	height:3em;
	width:3em;
	display:inline-grid;
	padding:0;
	margin:0;
	display: grid;
	grid-template-rows: 1fr min-content;
	place-items:center;
	border: none;
	font-family: "effra-medium", Arial, Helvetica, sans-serif; ;

}
nav button:nth-of-type(2) span{
	position:relative;
	grid-area:1/1;
	width:2em;
	height:2px;
	background-color:var(--headerl2);
	transition:.5s;
	
}
nav button:nth-of-type(2) span:nth-of-type(1) {
	translate:0 -0.5em;
}

nav button:nth-of-type(2) span:nth-of-type(2) {
	translate:0;
}

nav button:nth-of-type(2) span:nth-of-type(3) {
	translate:0 .5em;
}

nav button:nth-of-type(2).is-open span:nth-of-type(1) {
	translate:0 0;
	rotate:45deg;
}

nav button:nth-of-type(2).is-open span:nth-of-type(2) {
	scale:0 1;
}

nav button:nth-of-type(2).is-open span:nth-of-type(3) {
	translate:0 0;
	rotate:-45deg;
}

nav button:nth-of-type(2):after{
	content: "Menu";
	font-size: 1.2em;
	color: var(--login);
} 


nav button:nth-of-type(2).is-open::after {
	content:"Close";
	color: var(--login);
}


/* Voor de tweede pagina is het wel handig om een id op de body te doen om beter aan te spreken in de css */

nav ul:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	grid-column: -4 / -1;
	grid-row: -2 / -1;
	gap: 1em;

}

nav ul:nth-of-type(1) svg {
	width: .5em;
}

/* menu uitgeklapt */
#nav-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
}
#nav-list.is-open{
	display: grid;
	z-index: 10;
	

}
 #nav-list.is-open li {
	background-color:var(--menu2bg1) ;
	border-bottom: solid;
	border-color: var(--lineaftermenu);
	border-width: 2px;
	color: black;
	font-family: "effra-medium", Arial, Helvetica, sans-serif; 
	list-style: none;
	font-size: 1em;
	padding: 2em;
	
} 
#nav-list.is-open svg{
	width: 1.5em;
	rotate: -90deg;
	place-items:center;

}
#nav-list.is-open li a{
	background-color: var(--menu2bg1);
	color: var(--menu2a1);
	font-family: "effra-medium", Arial, Helvetica, sans-serif; 
	font-size: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center
}


/* footer */
footer{
	margin: 1em;
	background-color: var(--footerbg);
}


footer ul{
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	row-gap: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
footer button{
	border-style: none;
	color: var(--pc2);
	font-size: 16px;

}
footer  span{
	height: 0.125em;
	width: 100%;
	height: 0.2em;
	background-color: var(--footerspan);
	display: flex;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
footer section:last-of-type{
	display: grid;
}

footer section:last-of-type p{
	margin: 0;
	margin-bottom: 1em;
}

footer section:last-of-type img{
	width: 5em;
}

footer section:last-of-type svg{
	width: 2em;
	height: 2em;
}
footer section:last-of-type ul:nth-of-type(1){
flex-direction: row;
column-gap: 1em;
justify-content: center;
align-items: center;
}
footer section:nth-of-type(2){
display: grid;
grid-template-columns:
  1fr;

}
footer section:last-of-type ul:nth-of-type(2){
	flex-direction: row;
column-gap: 1em;
justify-content: center;
align-items: center;
}
footer section:last-of-type ul:nth-of-type(3) li img{
width: 100%;
	justify-content: center;
align-items: center;
}
footer{
	margin-left: 1.5em;
	margin-right:1.5em;
}

/*  section grid  */
footer section:last-of-type p:nth-of-type(1){
	grid-row-start: 4;
}

footer section:last-of-type p:nth-of-type(2){
	grid-row-start: 5;
}
footer section:last-of-type p:nth-of-type(3){
	grid-row-start: 6;
}

@media (width >= 34.375em) {
	footer section:nth-of-type(2){
	display: grid;
	grid-template-columns:
	1fr 1fr;
	}
}


/* vershcillen aanpassen */
@media (width >= 82.813em) {
	header{
		margin-left: 20vh;
		margin-right: 20vh;
	}
	#nav-menu{
		margin-right: 20vh;
	}
	main{
		margin-left: 20vh;
		margin-right: 20vh;
	}
	
	footer{
		margin-left: 20vh;
		margin-right: 20vh;
	}
}

/* laptop en groter */
@media (width >= 60.438em){
	

/* footer menu2 */
footer section:nth-of-type(2){
display: grid;
grid-template-columns:
  1fr 1fr 1fr 1fr;
}
footer section:last-of-type ul:nth-of-type(3) li img {
	width: auto;
}

}
footer ul li a{
    color: var(--footera);
    cursor: pointer;
    transition: all 0.3s ease;
}

footer ul li a:active{
     color: var(--footerbutton);
     transform: scale(1.03); 
}
/* all the links just go that color but why if they arent visited yet? */
/* footer ul li a:visited{
    color: var(--headerl2);
} */
 footer button{
	color: var(--pc2);
	font-size: 13px;
	font-family: "effra-regular",Arial, Helvetica, sans-serif;
    color: var(--footerbutton);
}
footer h2{
	font-size: 20px;
	color: var(--footerheader);
}
footer p{
	color: var(--footerp);
}
footer ol li a{
	font-size: 16px;
    color: var(--footera);
}

footer ul:first-of-type{
    padding-top: 1px;
    border-color: red;
}
/* meer custom proporties maken voor de dark modus (denk aan alle kleuren voor wat het word gebruikt.) */
/* Alles van de main pagina zdt je in 1 style sheet de tweede pagina doe je in een ander
en de derde style sheet is de algemene style sheet die toepassingen maakt in beide pagina,s */