/**************/
/* CSS REMEDY */
/**************/


/* colors */
:root {
	--bgc: #ffffff;
	/* menu colors */
	/* spans */
	--linkspans: #006de3;
	--linkspansactive: red;
	--lineaftermenu: #ccc;
	/* menu 2 */
	--backgrli: white;

	--headerl1: #272727;
	--headerl2: #006de3;

	/* login button */
	--login: #006de3;
	--login2: #005bbe;
	--bgsection1: rgb(0, 18, 118);
	--bgsection2: #f6f6f6;

	--pc2: #515151;
	--h23: #272727;

	--s4: #1a2142;
	--footerspan: #E2E2E2;
	--section2h2: #affdfd;
	--section2a: #affdfd;
	--section2bg: #007481;
	--section3bold: #515151;
	--section3h2:black;
	--section3pcolor: #515151;
	--fillsection4: #272727;
	--h3section4: #272727;
	--section4button: #006de3;
	--section5h2: #272727;
	--section5p: #515151;
	--section6bg: #f6f6f6;
	--section6h4: #272727;
	--section6p: #515151;
	--section7h2-p: #515151;
	--section8: #f6f6f6;
	--section8h2: #272727;
	--sectipon8p: #515151;
	/* upside down color */
	--section9bg: #f6f6f6;
	--section9h2: #272727;
	--section9p: #515151;
	--sectiona: #006de3;
	--section10bg: #f6f6f6;
	--sectgion11h3: #272727;
	--section11p: #515151;
	--section12h2: #272727;
	--section12a: #006de3;
	--section12p: #515151;
	--section12bg: #f6f6f6;
	--section13bg: #1a2142;
	--section13h2: #ffffff;
	--section13p: #ffffff;
	--section14bg: #ffffff;
	--section14h3: #272727;
	--section14p: #515151;
	--section15a: #006de3;
	--section15bg: #d9d9d9;
	--mainregular:white;
}
@media (prefers-color-scheme: dark) {
	:root {
	--mainregular:#161b2f;
		--section3h2:white;
		--section3pcolor:#cbccd1;
		--section3bold:#cbccd1;
		--h3section4:white;
		--section4button:white;
		--section5h2:white;
		--section5p:white;
		--section6bg:#292b3d;
		--section6p:#cbccd1;
		--section6h4:white;
		--section7h2-p:#cbccd1;
		--section8:#292b3d;
		--section8h2:white;
		--sectipon8p:#cbccd1;
--section9bg:#292b3d;
--section9h2:white;
--section9p:#cbccd1;
--section10bg:#292b3d;
--sectgion11h3:white;
--section11p:#cbccd1;
--section12h2:white;
--section12p:#cbccd1;
--section12bg:#292b3d;
--section14bg:#161b2f;
--section14h3:white;
--section14p:#cbccd1;



	}
}

main{
	background-color: var(--mainregular);
}

/****.    Left curly bracket {: ⌥ Option + Shift + 8
Right curly bracket }: ⌥ Option + Shift + 9.     ****/

*,
*::after,
*::before {
	box-sizing: border-box;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #111;
	--color-background: #eee;
}

@media (min-width: 768px) {
	main section:first-of-type button {
		display: inline-block;
		width: auto;
		margin-inline: 0.5rem;
	}

	main section:first-of-type a {
		display: inline-block;
		width: auto;
	}

	main>section:first-of-type {
		flex-direction: row;
		justify-content: center;
	}
}


/* <body id="b2"> */

/* main line on the top */
#b2 main {
	border-top: solid;
	border-color: var(--lineaftermenu);
	border-width: 2px;
	padding-left: 1.5em;
	padding-right: 1.5em;

}
#b2 button{
	background-color: none;
	border: none;
	text-decoration: none;
	background: none;
}
/* start section  1*/
#b2 main>section:first-of-type {
	display: grid;
	gap: 0.5rem;
	background-color: rgb(0, 18, 118);
	padding: 1rem;
	border-width: 0.6em 0.8em;
	border-color: #00AEEF;
	border-style: solid;
	display: flex;
	flex-direction: column;
	margin-top: 0;
	color: white;
	display: grid;
	grid-template-columns: 1fr;
	padding-bottom: 0;
}

main section:first-of-type p:nth-of-type(1) {
	/* grid-column: 1 / 2; */
	grid-row: 1 / 2;
}

main section:first-of-type h2 {
	margin-bottom: 0.2em;
	margin-top: -0.1em;
}

main section:first-of-type a {
	justify-self: center;
	text-align: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--bgc);
	width: 80%;
	transition: all 0.3s ease;
	margin-top: 1em;
	color: var(--bgc);
	text-decoration: none;

}

/* strong is bold */
strong {
	font-family: effrab, Arial, Helvetica, sans-serif;
}

main section:first-of-type button {
	justify-self: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--bgc);
	width: 80%;
	transition: all 0.3s ease;
	margin-top: 1em;
	color: var(--bgsection1);
	text-decoration: none;

}

main>section:first-of-type img {
	width: 100%;
}

/* section 2 */
#b2 main section:nth-of-type(2) {
	display: grid;
	padding: 1rem;
	margin-top: 0;
	padding-top: 0;
	background-color: var(--section2bg);
}

#b2 main section:nth-of-type(2) h2 {
	padding-left: 1em;
	color: var(--section2h2);
	font-size: 1.5em;
}

#b2 main section:nth-of-type(2) ul {
	display: grid;
	list-style: none;
	padding-left: 0;
	gap: 0.5em;
	border-radius: 6.188em;
	margin-top: 0.5em;
	margin-bottom: 0em;
	background-color: none;

}

#b2 main section:nth-of-type(2) ul li {
	display: grid;
	gap: 0.5em;
	list-style: none;
	padding-left: 0;
	background-color: none;
	padding: 0.5em;
	padding-top: 0;
	padding-bottom: 0;

}

#b2 main section:nth-of-type(2) ul li a {

	justify-self: center;
	padding: 0.9em 2em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--section2a);
	color: var(--section2a);
	transition: all 0.3s ease;
	margin-top: 0.1em;
	text-decoration: none;

}

/* section 3 */
#b2 main section:nth-of-type(3) {
	display: grid;
	padding: 1rem;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

#b2 main section:nth-of-type(3) p:last-of-type {
	font-family: effrab, Arial, Helvetica, sans-serif;
	color: var(--section3bold);

}

#b2 main section:nth-of-type(3) p:first-of-type {

	color: var(--section3pcolor);

}

#b2 main section:nth-of-type(3) h2 {
	justify-self: center;
}

#b2 main section:nth-of-type(3) h2 {
	font-size: 1.5em;
	color: var(--section3h2);

}

/* section 4 */
#b2 main section:nth-of-type(4) svg {
	width: 3em;
	height: 3em;
	stroke: var(--section3pcolor);
	justify-self: center;
}

#b2 main section:nth-of-type(4) ul {
	display: grid;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
}

#b2 main section:nth-of-type(4) li {
	list-style: none;
	padding-left: 0;

}

#b2 main section:nth-of-type(4) h3 {
	font-size: 1.25em;
	font-family: effra-medium, Arial, Helvetica, sans-serif;
	color: var(--h3section4);
	margin-top: 0;
}

#b2 main section:nth-of-type(4) button {
	font-size: 0.5em;
	color: var(--section4button);
	padding: 0;
	border: none;
	background-color: none;
}

/* section 5 */
#b2 main section:nth-of-type(5) {
	text-align: center;
}

#b2 main section:nth-of-type(5) h2 {
	font-size: 1.5em;
	color: var(--section5h2);
}

#b2 main section:nth-of-type(5) p {
	font-size: 1em;
	color: var(--section5p);
}

/* section 6 */
#b2 main section:nth-of-type(6) {
	display: grid;
	gap: 0.5em;
}

#b2 main section:nth-of-type(6) ul {
	list-style: none;
	padding-left: 0;
	text-align: center;
	background-color: var(--section6bg);
	margin-top: 0;
	margin-bottom: 0;
}

#b2 main section:nth-of-type(6) ul li {
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 1em;
}

#b2 main section:nth-of-type(6) h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.25em;
	color: var(--section6h4);
}

#b2 main section:nth-of-type(6) p {
	color: var(--section6p);
}

/* section  */
#b2 main section:nth-of-type(7) {
	text-align: center;
	margin-top: 1em;
	padding-bottom: 0.5em;
}

#b2 main section:nth-of-type(7) h5 {
	font-size: 1em;
	color: var(--section7h2-p);
	font-family: effra-regular, Arial, Helvetica, sans-serif;
}

#b2 main section:nth-of-type(7) p {
	color: var(--section7h2-p);
}

#b2 main section:nth-of-type(7) button {
	font-size: 0.5em;
	color: var(--section4button);
	padding: 0;
	border: none;
	background-color: none;
}

#b2 main section:nth-of-type(8) {
	background-color: var(--section8);
	text-align: center;
}

#b2 main section:nth-of-type(8) h2 {
	font-size: 1.5em;
	color: var(--section8h2);
	padding-top: 1em;
}

#b2 main section:nth-of-type(8) p {
	font-size: 1em;
	color: var(--sectipon8p);
	padding-bottom: 2em;
	margin-bottom: 0;
}

/* section 9 */
#b2 main section:nth-of-type(9) a {
	text-decoration: none;
	color: var(--sectiona);
	display: flex;
	align-items: center
}

#b2 main section:nth-of-type(9) ul {
	background-color: var(--section9bg);
	list-style: none;
	padding-left: 0;
	display: grid;
	gap: 1em;


}

#b2 main section:nth-of-type(9) ul li>svg {
	width: 6.5em;
	grid-row: 1;
}

#b2 main section:nth-of-type(9) ul li a svg {
	width: 1em;
	rotate: -90deg;
	fill: var(--sectiona);
}

#b2 main section:nth-of-type(9) ul li {
	display: grid;
	margin-bottom: 1em;
	background-color: var(--section9bg);
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
}

#b2 main section:nth-of-type(9) ul li h2 {
	font-size: 1.25em;
	margin-bottom: 0;
	color: var(--section9h2);
}

#b2 main section:nth-of-type(9) ul li p {
	color: var(--section9p);
}

/* section 10 */
#b2 main section:nth-of-type(10) {
	background-color: var(--section10bg);

	padding: 0.5em;
	text-align: center;
}

#b2 main section:nth-of-type(10) h6 {
	font-size: 1em;
	font-family: effra-medium, Arial, Helvetica, sans-serif;
	color: var(--section9h2);
}
#b2 main section:nth-of-type(10) p{
color: var(--section9p);
}

/* section 11 */
#b2 main section:nth-of-type(11) h2 {
	font-size: 2em;
	text-align: center;
	color: var(--section8h2);
}

#b2 main section:nth-of-type(11) ul {
	list-style: none;
	padding-left: 0;
	display: grid;

}

#b2 main section:nth-of-type(11) ul h3 {
	font-family: effra-medium, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	margin-bottom: 0;
	color: var(--sectgion11h3);
}

#b2 main section:nth-of-type(11) ul p:first-of-type {
	margin-bottom: 0;
	color: var(--section11p);
}

#b2 main section:nth-of-type(11) ul p:nth-of-type(2) {
	color: var(--section11p);
	font-family: effrab, Arial, Helvetica, sans-serif;
}

#b2 main section:nth-of-type(11) ul:nth-of-type(3) li p {
	color: var(--sectgion11h3);
}

#b2 main section:nth-of-type(11) ul img {
	width: 100%;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-radius: 1em;
	grid-row: 1;
}

#b2 main section:nth-of-type(11) ul li {
	display: grid;
	margin-bottom: 1em;
}

#b2 main section:nth-of-type(11) ul a svg {
	width: 1em;
	rotate: -90deg;
}

#b2 main section:nth-of-type(11) ul a {
	text-decoration: none;
	color: var(--sectiona);
	display: flex;
	justify-items: center;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* section 12 */
#b2 main section:nth-of-type(12)>h2 {
	text-align: center;
	color: var(--section12h2);
	font-size: 1.5em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#b2 main section:nth-of-type(12)>p {
	text-align: center;
	color: var(--section12p);

}

#b2 main section:nth-of-type(12) p a {
	color: var(--section12a);
	text-decoration: none;
}

#b2 main section:nth-of-type(12) ul {
	display: grid;
	list-style: none;
	padding-left: 0;
	row-gap: 0.5em;
}

#b2 main section:nth-of-type(12) ul li {
	background-color: var(--section12bg);
	padding: 1em;
	display: grid;
}

#b2 main section:nth-of-type(12) ul li h2 {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	font-size: 1.25em;
	color: var(--section12h2);
}

#b2 main section:nth-of-type(12) ul li p:first-of-type {
	margin-bottom: 0;
}

#b2 main section:nth-of-type(12) ul li svg {
	width: 2.5em;
	height: auto;
	grid-row: 1;
	margin-bottom: 0.5em;
	stroke: var(--section12h2);
}

#b2 main section:nth-of-type(12) ul li button {
	font-size: 0.5em;
	color: var(--section4button);
	padding: 0;
	border: none;
	background-color: none;
}
#b2 main section:nth-of-type(12) ul li p{
	color: var(--section11p)
}

#b2 main section:nth-of-type(12) ul li:last-of-type a svg {
	width: 1em;
	rotate: -90deg;
}

#b2 main section:nth-of-type(12) ul li:last-of-type a {
	color: var(--section12a);
	text-decoration: none;
	margin-top: 1.5em;
	margin-bottom: 1em;
	display: flex;
}

/* section 13 */
#b2 main section:nth-of-type(13) {
	display: grid;
	background-color: var(--section13bg);
	padding: 1em;
}

#b2 main section:nth-of-type(13) ul {
	list-style: none;
	padding-left: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#b2 main section:nth-of-type(13) img:last-of-type {
	justify-self: center;
}

#b2 main section:nth-of-type(13) h2 {
	color: var(--section13h2);
	font-size: 1.5em;
}

#b2 main section:nth-of-type(13) p {
	color: var(--section13p);
	font-size: 1.25em;
}

#b2 main section:nth-of-type(13) p:last-of-type {
	color: var(--section13p);
	font-size: 1em;
}

#b2 main section:nth-of-type(14) {
	background-color: var(--section14bg);
	text-align: center;
	display: grid;
}

#b2 main section:nth-of-type(14) h3 {
	color: var(--section14h3);
	font-family: effra-medium, Arial, Helvetica, sans-serif;
	font-size: 1.125em;
}

#b2 main section:nth-of-type(14) p {
	color: var(--section14p);
}

#b2 main section:nth-of-type(14) a {
	justify-self: center;
	text-align: center;
	padding: 0.6em 1.5em;
	cursor: pointer;
	border-radius: 6.188em;
	border: 2px solid var(--section15a);
	transition: all 0.3s ease;
	margin-top: 0em;
	color: var(--section15a);
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
	text-align: center;


}

#b2 main section:nth-of-type(14) svg {
	width: 1em;
	height: auto;
	stroke: var(--section15a);

}
#b2 main section:nth-of-type(14) ul li:nth-of-type(2) svg:last-of-type {
	rotate: -180deg;

}

#b2 main section:nth-of-type(14) ul {
	display: flex;
	justify-content: center;
	column-gap: 1em;
	list-style: none;
	padding-left: 0;
}

#b2 main section:nth-of-type(15) {
	width: 100%;
	background-color: var(--section15bg);
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5em;
}

#b2 main section:nth-of-type(15) h6 {
	padding: 1em;
	font-size: 1em;
}

#b2 main section:nth-of-type(15) a {
	text-decoration: none;
	color: var(--section15a);
}

@media (width >=41.313em) {
	#b2 main section:nth-of-type(4) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#b2 main section:nth-of-type(4) ul:last-of-type {
		grid-column: -3/-1;

		place-content: center;
		align-items: center;

	}

	#b2 main section:nth-of-type(4) ul {
		max-width: 20em
	}

	#b2 main section:nth-of-type(6) ul {

		justify-content: center;
	}

	#b2 main section:nth-of-type(6) {

		max-width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#b2 main section:nth-of-type(9) ul {
		grid-template-columns: 1fr 1fr 1fr;
		line-height: 1.375em;
	}

	#b2 main section:nth-of-type(11) ul {
		grid-template-columns: 1fr 1fr 1fr auto;
		gap: 2em;
		line-height: 1.375em;
	}

	#b2 main section:nth-of-type(12) ul {
		grid-template-columns: 1fr 1fr 1fr auto;
		line-height: 1.375em;
		gap: 1em;
	}
}

@media (width >=60.938em) {
	#b2 main section:nth-of-type(1) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	#b2 main section:nth-of-type(1) h2:nth-of-type(1) {
		grid-row: 3;
		font-size: 3em;
	}

	#b2 main section:nth-of-type(1) h2:nth-of-type(2) {
		grid-row: 2;
	}

	#b2 main section:nth-of-type(1) p:last-of-type {
		grid-column: 1;
	}

	#b2 main section:nth-of-type(1) img {
		grid-row: 1 / 5;
		align-self: center;

	}
#b2 main section:nth-of-type(2) ul{
	display: flex;
	        justify-content: center;
        align-items: center;
} 
	#b2 main section:nth-of-type(4) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#b2 main section:nth-of-type(4) ul:last-of-type {
		grid-column: 3 / -1;
		place-content: center;
		align-items: center;
	}
	#b2 main section:nth-of-type(13) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	#b2 main section:nth-of-type(13) ul{
		grid-column: 1 / 1;
	}
	#b2 main section:nth-of-type(13) img{
		    justify-self: center;
    grid-row: 1 / 5;
	grid-column: 2;
    margin-top: 2em;
	}
	#b2 main section:nth-of-type(13) p{
		grid-column: 1 / 3;
		grid-column-end: 2;
	}
	#b2 main section:nth-of-type(13) p:last-of-type{
		grid-column-end: 2;
		align-self: center;
		grid-column: 2 -2;
	}
}






/* meer custom proporties maken voor de dark modus (denk aan alle kleuren voor wat het word gebruikt.) */
/* Alles van de main pagina zdt je in 1 style sheet de tweede pagina doe je in een ander
en de derde style sheet is de algemene style sheet die toepassingen maakt in beide pagina,s */